@import "../../assets/stylesheets/color.less";

.header {
  padding: 1em 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid @default-gray;

  .menu {

    .menu-bar {

      .menu-bar__item {
        display: inline-block;
        padding: 0.5em;
        margin-right: 0.5em;
        text-decoration: none;
        text-transform: uppercase;
      }

    }

  }

}

.container {
  padding: 2em;
}