<div class="text--center">
    <form class="form">
        <div class="form__header">
            <p>{{formTitle}}</p>
        </div>
        <div class="form__body">
            <div class="form__row">
                <label>
                    <input class="form__input" type="text" [(ngModel)]="user.name" name="user-name">
                    <span class="form__label">Name</span>
                </label>
            </div>
            <div class="form__row">
                <label>
                    <input class="form__input" type="text" [(ngModel)]="user.password" name="user-password">
                    <span class="form__label">Password</span>
                </label>
            </div>
            <div class="form__row">
                <span class="form__label">Role(s)</span>
                <ul class="form__input checkbox-list">
                    <li *ngFor="let role of roles">
                        <label>
                            <input type="checkbox" checked="{{role.checked ? 'checked' : ''}}">
                            <span>{{role.name}}</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form__footer">
            <div class="btn-group btn-group--right">
                <input type="button" class="btn-group__item btn" (click)="location.back()" value="Cancel">
                <input type="button" class="btn-group__item btn btn--info" value="Save">
            </div>
        </div>
    </form>
</div>