.form--login-wrapper {
  .form--login {
    width: 300px;
    margin: 0 auto;

    .form__header {
      font-family: "DejaVu Sans", serif;
      font-size: 1.2em;
    }

    .form__row {
      input[type=text] {
        display: block;
        width: 100%;
      }
      label {
        display: block;
        width: 100%;
      }
    }

    .form__footer {
      margin-top: 1em;
      button {
        float: right;
      }
    }

  }
}